@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-regular {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.manrope-bold {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

.manrope-light {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}

.manrope-medium {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}