@import "tailwindcss";

:root {
  /* Transición suave al cambiar tema */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light {
  --background: #faf7f0;
  --primary: #3e92cc;
  --secondary: #e6ebef;
  --secondary-accent: #BECEDB;
  --options: #ffffff;
  --text-primary: #5d737e;
  --text-buttons: #ffffff;  
  --text-secondary: #8e8787;
  --confirmation: #A3C9A8;
  --warning: #ff8c69;
}

.dark {
  --background: #121417;
  --primary: #1c2431;
  --secondary: #1e2126;
  --options: #121417;
  --warning: #ff8c69;
  --text-primary: #e6ebef;
  --text-secondary: #becedb;
  --text-buttons: #ffffff;
  --confirmation: #a3c9a8;
  --secondary-accent: #3e92cc;
}

/* Aplica las variables */
body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.table-scroll-area::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra vertical */
}

.table-scroll-area::-webkit-scrollbar-track {
  background: var(--secondary); /* Fondo de la pista */
  border-radius: 10px;
}

.table-scroll-area::-webkit-scrollbar-thumb {
  background-color: var(--options); /* Color del "pulgar" */
  border-radius: 10px;
  border: 2px solid var(--background); /* Margen alrededor del pulgar */
}

